<!DOCTYPE html>
<html>
<head>
  <title>Nedjer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if session[:user_id] %>
  <%= link_to "logout", logout_path %>
<% else %>
  <%= render "sessions/new" %>
<% end %> 
<%= yield %>

</body>
</html>
